/* MAIN WRAPPER: 2-SIDED LAYOUT */
.login-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
}

/* LEFT SECTION (Gradient Background) */
.left-section {
  flex: 1;
  padding: 60px;
  color: white;

  background: linear-gradient(135deg, #6a5af9, #ff7ee3);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* Left Section Text */
.left-section h1 {
  font-size: 42px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.left-section p {
  margin-left: 25px;
  font-size: 18px;
  max-width: 450px;
  line-height: 1.5;
  opacity: 0.9;
}

/* RIGHT SECTION (Login Card Style) */
.right-section {
  flex: 1;
  padding: 60px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.login-container{
    border: 1px solid black;
}
/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.user-icon{
    font-size: 4rem;
    margin: 10px auto;
}

.login-form label {
  font-size: 14px;
  color: #444;
}

.login-form input {
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: #6a5af9;
}

/* BUTTON */
.login-btn {
  margin-top: 10px;
  padding: 12px;
  background-color: #6a5af9;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background-color: #5545e2;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }
  .left-section, .right-section {
    flex: none;
    width: 100%;
    padding: 40px;
  }
}
